[submodule "src/www/js/lib/qunit"]
	path = src/www/js/lib/qunit
	url = https://github.com/jquery/qunit.git
[submodule "src/www/js/qunit-reporter-junit"]
	path = src/www/js/qunit-reporter-junit
	url = https://github.com/jquery/qunit-reporter-junit.git
